@use '../variables' as v;
@use '../mixins' as m;

.copyright {
  padding-bottom: 20px;
  font-size: 12px;
  color: v.$gray-text;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @include m.tablet {
      gap: 40px;
    }
  }

  &__text {
    opacity: 0.6;
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    opacity: 0.9;
    padding: 0;
    
    li {
      font-size: 12px;
      padding-right: 10px;
      &:not(:last-child) {
        border-right: 1px solid v.$gray-text;
      }
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.container {
}
