.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
  }

  &__actions {
    display: flex;
    gap: 30px;
  }

  &__actions-link {
    z-index: 2;
    display: flex;
    align-items: center;
  }
}

.logo {
  &__link {
  }

  &__img {
  }
}

.nav {
  &__list {
    display: none;
  }

  &__item {
  }

  &__link {
  }
}
.burger {
  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: relative;
    gap: 6px;
  }
  &__line {
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    transition: all 0.3s ease;
  }
  &__input:checked + &__label &__line:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
  }
  &__input:checked + &__label &__line:nth-child(2) {
    transform: rotate(-45deg);
    position: absolute;
  }
}

@media (min-width: 900px) {
  .nav {
    width: 100%;
    padding-right: 30px;
    &__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      letter-spacing: -0.01em;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 400;
      width: 100%;
    }
  }

  .burger {
    display: none;
  }
}
