.hero {
  background: #000;
  position: relative;
  &__picture {
    img {
      margin-top: -50px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__content {
    position: relative;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  &__title {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    line-height: 1.125;
    font-weight: normal;
    @media (min-width: 600px) {
      font-size: 40px;
    }
  }
  &__button {
    padding: 7px 15px;
    background-color: #0071e3;
    color: #fff;
    border-radius: 20px;
    border: none;
  }
}
