.hero {
  position: relative;
  overflow: hidden;
  min-height: 90vh;
  margin-bottom: 10px;

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center top;
  }
  &__content {
    display: flex;
    height: 90vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 44px;
    // max-width: 205px;
  }

  &__tittle-img {
    margin: 0 0 14px 0;
  }
  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #1d1d1f;
    text-align: center;
    max-width: 205px;
    margin: 0 0 14px 0;
  }
  &__subtitle-two {
    font-size: 14px;
    line-height: 18px;
    color: #6e6e73;
    text-align: center;
    margin: 0 0 14px 0;
  }
  &__actions {
    max-width: 215px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  &__link {
    font-size: 17px;
    color: #0066cc;
  }
}
