.information {
  background-color: #f5f5f7;
  padding: 10px 0 10px 0;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.12px;
    color: #6e6e73;
  }

  &__text-link {
    text-decoration: underline;
  }
}
