@use '../variables' as v;

.information {
  background-color: v.$white;
  padding: 10px 0 20px 0;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.12px;
    color: v.$gray-text;
  }

  &__text-link {
    text-decoration: underline;
  }
}
