.navigation {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #d2d2d7;
  &__container {
  }

  &__menu {
    details {
      padding: 15px 0;
      border-bottom: 1px solid #d2d2d7;
    }
    summary {
      color: #1d1d1f;
      font-weight: 300;
      font-size: 15px;
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
    ul {
      padding-top: 5px;
      display: flex;
      flex-direction: column;
        gap: 2px;
    }
    li {
      padding: 8px 0;
      font-size: 14px;
      color: #1d1d1f;
    }
    a {
    }
  }
  &__icon {
    width: 10px;
    height: 10px;

    border-right: 1px solid #1d1d1f;
    border-bottom: 1px solid #1d1d1f;

    transform: rotate(45deg);
    transition: transform 0.3s ease;
    flex-shrink: 0;
  }
  &__section[open] &__icon {
    transform: rotate(-135deg);
  }

  &__section {
  }
}
.container {
}
