.promo {
  margin-bottom: 10px;
  &__block {
    position: relative;
    min-height: 90vh;
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center top;
  }
}
