@use 'fonts';
@use 'variables';
@use 'reset';
@use 'blocks/header';
@use 'blocks/hero';

body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
