@use 'fonts';
@use 'variables' as v;
@use 'mixins' as m;
@use 'reset';
@use 'blocks/header';
@use 'blocks/hero';
@use 'blocks/promo';
@use 'blocks/products';
@use 'blocks/information';
@use 'blocks/navigation';

* {
  line-height: 14px;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@include m.tablet {
  .container {
    padding: 0 15px;
  }
}

// Implemented these global styles and mixins manually to brush up on the syntax and determine the most efficient workflow.
.info-product {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 44px;
  &--top {
    padding-top: 44px;
    padding-bottom: 0px;
    justify-content: flex-start;
  }

  &__title {
    color: v.$white;
    font-weight: bold;
    font-size: 31px;
    margin: 0 0 14px 0;
    letter-spacing: -0.2px;
    &--black {
      color: v.$black;
    }
    @include m.tablet {
      font-size: 54px;
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    color: v.$white;
    text-align: center;
    max-width: 205px;
    margin: 0 0 14px;
    font-weight: 200;
    letter-spacing: 1.1px;
    &--long {
      max-width: 420px;
    }
    &--black {
      color: #1d1d1f;
    }
    @include m.tablet {
      font-size: 24px;
    }
  }

  &__subtitle-two {
    font-size: 14px;
    line-height: 18px;
    color: #6e6e73;
    text-align: center;
    margin: 0 0 14px 0;
  }
  &__actions {
    max-width: 215px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__link {
    font-size: 17px;
    color: v.$blue;
    font-weight: 300;
  }
}

.footer {
  background-color: v.$white;
}
