<header class="header">
  <div class="header__inner container">
    <div class="logo">
      <a class="logo__link" href="#">
        <img
          src="/src/assets/icon/header/apple.svg"
          alt="Main page (Logo Apple)"
          class="logo__img"
        />
      </a>
    </div>

    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">Store</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Mac</a></li>
        <li class="nav__item"><a href="#" class="nav__link">iPad</a></li>
        <li class="nav__item"><a href="#" class="nav__link">iPhone</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Watch</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Vision</a></li>
        <li class="nav__item"><a href="#" class="nav__link">AirPods</a></li>
        <li class="nav__item"><a href="#" class="nav__link">TV & Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Entertainment</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Accessories</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Support</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a class="header__actions-link" href="#">
        <img src="/src/assets/icon/header/search.svg" alt="Search" />
      </a>
      <a class="header__actions-link" href="#">
        <img src="/src/assets/icon/header/shopping-bag.svg" alt="Shopping bag" />
      </a>

      <div class="burger">
        <input type="checkbox" id="burger-toggle" class="burger__input" hidden />
        <label for="burger-toggle" class="burger__label" aria-label="Open menu">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </label>
      </div>
    </div>
  </div>
</header>
