<section class="hero">
  <picture class="hero__bg">
    <source
      media="(max-width: 800px)"
      srcset="/src/assets/image/hero/hero_small.jpg 840w"
      sizes="100vw"
      type="image/webp"
    />
    <source
      srcset="/src/assets/image/hero/hero_small.jpg 840w, /src/assets/image/hero/hero_big.jpg 3840w"
      sizes="100vw"
      type="image/jpg"
    />
    <img
      loading="eager"
      src="/src/assets/image/hero/hero_big.jpg"
      alt="Vision Pro"
      class="hero__image"
    />
  </picture>
  <div class="hero__content info-product">
    <img
      src="/src/assets/image/hero/hero_tittle.png"
      alt="Tittle - Vision Pro"
      class="hero__title-img info-product__title-img"
    />
    <p class="hero__subtitle info-product__subtitle--black">
      Welcome to the era of spatial computing.
    </p>
    <p class="hero__subtitle-two info-product__subtitle-two">Available starting 2.2</p>
    <div class="hero__actions info-product__actions">
      <a href="#" class="hero__link info-product__link">Learn more ></a>
      <a href="#" class="hero__link hero__link--primary info-product__link">Pre-order ></a>
    </div>
  </div>
</section>
