<section class="navigation">
  <div class="navigation__container container">
    <nav class="navigation__menu">
      <details class="navigation__section">
        <summary>
          Shop and Learn
          <span class="navigation__icon"></span>
        </summary>
        <ul>
          <li><a href="#">Store</a></li>
          <li><a href="#">Mac</a></li>
          <li><a href="#">iPad</a></li>
          <li><a href="#">iPhone</a></li>
          <li><a href="#">Watch</a></li>
          <li><a href="#">AirPods</a></li>
          <li><a href="#">TV & Home</a></li>
          <li><a href="#">AirTag</a></li>
          <li><a href="#">Accessories</a></li>
          <li><a href="#">Gift Cards</a></li>
        </ul>
      </details>

      <details class="navigation__section">
        <summary>
          Apple Wallet
          <span class="navigation__icon"></span>
        </summary>
        <ul>
          <li><a href="#">Wallet</a></li>
          <li><a href="#">Apple Card</a></li>
          <li><a href="#">Apple Pay</a></li>
          <li><a href="#">Apple Cash</a></li>
        </ul>
      </details>

      <details class="navigation__section">
        <summary>
          Account
          <span class="navigation__icon"></span>
        </summary>
        <ul>
          <li><a href="#">Manage Your Apple ID</a></li>
          <li><a href="#">Apple Store Account</a></li>
          <li><a href="#">iCloud.com</a></li>
        </ul>
      </details>

      <details class="navigation__section">
        <summary>
          Entertainment
          <span class="navigation__icon"></span>
        </summary>
        <ul>
          <li><a href="#">Apple One</a></li>
          <li><a href="#">Apple TV+</a></li>
          <li><a href="#">Apple Music</a></li>
          <li><a href="#">Apple Arcade</a></li>
          <li><a href="#">Apple Fitness+</a></li>
          <li><a href="#">Apple News+</a></li>
          <li><a href="#">Apple Podcasts</a></li>
          <li><a href="#">Apple Books</a></li>
          <li><a href="#">App Store</a></li>
        </ul>
      </details>

      <details class="navigation__section">
        <summary>
          About Apple
          <span class="navigation__icon"></span>
        </summary>
        <ul>
          <li><a href="#">Newsroom</a></li>
          <li><a href="#">Apple Leadership</a></li>
          <li><a href="#">Career Opportunities</a></li>
          <li><a href="#">Investors</a></li>
          <li><a href="#">Ethics & Compliance</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Contact Apple</a></li>
        </ul>
      </details>
    </nav>
  </div>
</section>
