<section class="products">
  <div class="products__container">
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_1.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_1.jpg"
            alt="Valentine’s Day"
            class="products__image"
          />
        </picture>
        <div class="products__info products__info--bottom">
          <h2 class="products__title">Valentine’s Day</h2>
          <p class="products__subtitle">Find the perfect gift.</p>
          <span class="products__actions">Shop ></span>
        </div>
      </a>
    </article>
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_2.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_2.jpg"
            alt="Valentine’s Day"
            class="products__image"
          />
        </picture>
        <div class="products__info">
          <img
            src="/src/assets/image/products/watch-s9.png"
            alt="Tittle watch series 9"
            class="products__title products__title--img"
          />
          <p class="products__subtitle products__subtitle--white">Smarter. Brighter. Mightier.</p>
          <div class="products__actions">
            <span class="products__learn">Learn more ></span>
            <span class="products__shop">Shop ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_3.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_3.jpg"
            alt="Watch Ultra 2"
            class="products__image"
          />
        </picture>
        <div class="products__info">
          <img
            src="/src/assets/image/products/watch-u2.png"
            alt="Watch Ultra 2"
            class="products__title products__title--img"
          />
          <p class="products__subtitle">Next level adventure.</p>
          <div class="products__actions">
            <span class="products__learn">Learn more ></span>
            <span class="products__shop">Shop ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_4.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_4.jpg"
            alt="Valentine’s Day"
            class="products__image"
          />
        </picture>
        <div class="products__info">
          <h2 class="products__title">MacBook Pro</h2>
          <p class="products__subtitle">Mind-blowing. Head-turning.</p>
          <div class="products__actions">
            <span class="products__learn">Learn more ></span>
            <span class="products__shop">Shop ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_5.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_5.jpg"
            alt="Valentine’s Day"
            class="products__image"
          />
        </picture>
        <div class="products__info">
          <img
            src="/src/assets/image/products/card.png"
            alt="Credit card Apple"
            class="products__title products__title--img"
          />
          <p class="products__subtitle">Get up to 3% Daily Cash back with every purchase.</p>
          <div class="products__actions">
            <span class="products__learn">Learn more ></span>
            <span class="products__shop">Shop ></span>
          </div>
        </div>
      </a>
    </article>
    <article class="products__item">
      <a href="#" class="products__link">
        <picture products__pictures>
          <source
            media="(max-width: 800px)"
            srcset="/src/assets/image/products/product_6.jpg"
            sizes="100vw"
            type="image/webp"
          />
          <img
            src="/src/assets/image/products/product_6.jpg"
            alt="Valentine’s Day"
            class="products__image"
          />
        </picture>
        <div class="products__info">
          <img
            src="/src/assets/image/products/trade-in.png"
            alt="trade-in"
            class="products__title products__title--img"
          />
          <p class="products__subtitle">
            Get $180-$620 in credit when you trade in iPhone 11 or higher. 1
          </p>
          <span class="products__actions">See what your device is worth ></span>
        </div>
      </a>
    </article>
  </div>
</section>
